@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
}

body {
  font-family: "Lexend Mega";
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
