@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
}

body {
  font-family: "Lexend Mega";
  color: rgb(var(--foreground-rgb));
  background-color: #e2e8f0;
}
